<% include dheader %>

<a class="add" href="/dashboard/products/new">Добавить новый <img src="<%= url %>/svg/plus.svg"></a>
<table>
    <tr>
        <th>Имя</th>
        <th>Категория</th>
        <th>Подкатегория</th>
        <th>Действия</th>
    </tr>
    <% products.forEach(function(product){ %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.cat %></td>
            <td><%= product.subcat %></td>
            <td>
                <a href="/dashboard/products/<%= product.id %>/edit"><img src="<%= url %>/svg/pencil.svg"></a>
                <a href="/dashboard/products/delete/<%= product.id %>"><img src="<%= url %>/svg/dustbin.svg"></a>
            </td>
        </tr>
    <% }); %>
</table>

<% include dfooter %>