<% include header %>
    
    <section id="hero">
        <div class="hero flex">
            <div>
                <h3>Новый завоз</h3>
                <h1>Здоровье</h1>
                <h2>Каталог Продукции</h2>

                <a href="/products" class="btn big btn-green smooth">В каталог</a>
            </div>
            <div>
                <img src="img/girl.png" alt="">
            </div>
        </div>
        <div class="control"><img src="svg/left-arrow.svg" alt=""></div>
        <div class="control right"><img src="svg/right-arrow.svg" alt=""></div>
    </section>

    <section id="popular">
        <div class="popular loop row">
            <div class="col-xs-12">
                <div>
                    <h2>Наша Продукция</h2>
                    <h1>Последний завоз</h1>
                </div>
            </div>
            <% var i = 0; var st = ""; products.forEach(function(product) { i++; %>
            <% if (i == 2) st = "third-item"; else st = ""; if (i == 3) st = "fourth-item"; %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 <%= st %>">
                    <span>
                        <img src="<%= product.image %>" alt="" onclick="goto('/products/<%= product._id %>');">
                    </span>
                    <h1><%= product.name %></h1>
                    <h2><%= product.cat %></h2>
                    <h3><%= Number(product.price * rate).toFixed(0) %>₸ <span><%= Number(product.price * rate * 1.2).toFixed(0) %>₸</span></h3>
                    <div>
                        <a href="/addtocart?product=<%= product._id %>" class="btn btn-green">В корзину</a>
                        <a href="/buytocart?product=<%= product._id %>" class="btn btn-gray">Купить</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>

    <section id="discount">
        <div class="discount flex">
            <div>
                <h1>Скидка 20% на все</h1>
                <h2>Зарегистрируйтесь и следуйте дальнейшим инструкциям.</h2>
                <a href="/discount" class="btn-green btn big">Получить скидку</a>
            </div>
            <div>
                <img src="img/bottle.jpg" alt="">
            </div>
        </div>
    </section>

    <section id="posts" class="embed">
        <div class="posts row">
            <div class="col-xs-12">
                <h2>Будь в курсе</h2>
                <h1>Самые свежие статьи</h1>
            </div>
            <% var j = 0; var jt = ""; posts.forEach(function(post) { j++; %>
            <% if (j == 2) st = "third-item"; else st = ""; if (j == 3) st = "fourth-item"; %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 <%= jt %>">
                <div class="post flex">
                    <span>
                        <img src="<%= post.image %>" alt="" onclick="goto('/post/<%= post._id %>');">
                    </span>
                    <h1><%= post.name %></h1>
                    <p><%= post.short %></p>
                    <a href="/post/<%= post._id %>" class="btn btn-green">Подробнее</a>
                </div>
            </div>
            <% }); %>
        </div>
    </section>
    
    <script>
        function goto(url) { window.location.href = url; }
    </script>
    
<% include footer %>