<% include header %>
   
    <section id="bread">
        <div class="bread flex">
            <div>
                <p><a href="/">Главная</a> / Продукты</p>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="products flex">
            <div class="filters flex">
                <div>
                    <h1>Категории</h1>
                    <button class="cat" cat="cosm">Ухаживающая косметика<img src="svg/down-arrow.svg"></button>
                    <button onclick="subsort('Ухаживающая косметика','Косметика Natria')" class="sub" sub="cosm">Косметика Natria</button>
                    <button onclick="subsort('Ухаживающая косметика','Tropical Mists')" class="sub" sub="cosm">Tropical Mists</button>
                    <button onclick="subsort('Ухаживающая косметика','Bremani Care')" class="sub" sub="cosm">Bremani Care</button>
                    <button class="sub">Bremani Care</button>
                    <button onclick="sort('Уход и гигиена')">Уход и гигиена</button>
                    <button>Акции</button>
                    <button>БАД</button>
                    <button onclick="sort('Косметика Bremani')">Косметика Bremani</button>
                    <button>Печатная продукция</button>
                    <button>Сувенирная продукция</button>
                </div>
                <div>
                    <h1>Критерии</h1>
                    <button>Количество отзывов</button>
                    <button>Популярность</button>
                    <button>Рейтинг</button>
                    <button>Сначала дешевые</button>
                    <button>Сначала дорогие</button>
                    <button>По алфавиту</button>
                </div>
            </div>
            <div class="row loop">
                <% products.forEach(function(product) { %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <img src="<%= product.image %>" alt="" onclick="goto('/products/<%= product._id %>');">
                        <h1><%= product.name %></h1>
                        <h2><%= product.cat %></h2>
                        <h3>$<%= product.price %>.00 <span>$<%= product.price * 1.2 %>.00</span></h3>
                        <div>
                            <a href="/addtocart?product=<%= product._id %>" class="btn btn-green">В корзину</a>
                            <a href="/checkout?product=<%= product._id %>" class="btn btn-gray">Купить</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>
    
<% include footer %>