<% include header %>
   
    <section id="bread">
        <div class="bread flex">
            <div>
                <p><a href="/">Главная</a> / Продукты</p>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="products flex">
            <div class="filters flex">
                <div>
                    <h1>Категории</h1>
                    <button class="cat" cat="cosm">Ухаживающая косметика<img src="svg/down-arrow.svg"></button>
                    <button onclick="subsort('Ухаживающая косметика','Косметика Natria')" class="sub" sub="cosm">Косметика Natria</button>
                    <button onclick="subsort('Ухаживающая косметика','Tropical Mists')" class="sub" sub="cosm">Tropical Mists</button>
                    <button onclick="subsort('Ухаживающая косметика','Bremani Care')" class="sub" sub="cosm">Bremani Care</button>
                    <button class="cat" onclick="sort('Уход и гигиена')">Уход и гигиена</button>
                    <button class="cat" onclick="sort('БАД')">БАД</button>
                    <button class="cat" onclick="sort('Косметика Bremani')">Косметика Bremani</button>
                </div>
                <div>
                    <h1>Критерии</h1>
                    <button onclick="sortProds('views')">Популярность</button>
                    <button onclick="sortProds('cheap')">Сначала дешевые</button>
                    <button onclick="sortProds('expensive')">Сначала дорогие</button>
                    <button onclick="sortProds('name')">По алфавиту</button>
                </div>
            </div>
            <div class="row loop">
                <% products.forEach(function(product) { %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <span>
                            <img src="<%= product.image %>" alt="" onclick="goto('/products/<%= product._id %>');">
                        </span>
                        <h1><%= product.name %></h1>
                        <h2><%= product.cat %></h2>
                        <h3><%= Number(product.price * rate).toFixed(0) %>₸ <span>$<%= (product.price * rate * 1.2).toFixed(0) %>₸</span></h3>
                        <div>
                            <a href="/addtocart?product=<%= product._id %>" class="btn btn-green">В корзину</a>
                            <a href="/buytocart?product=<%= product._id %>" class="btn btn-gray">Купить</a>
                        </div>
                    </div>
                <% }); %>
                <span class="pageControl">
                    <% for(i = 0; i < pages; i++) { %>
                        <% if (page == i) { %>
                            <a style="background: #cccccc;" href="/products/page/<%= i %>"><%= i+1 %></a>
                        <% } else { %>
                            <a href="/products/page/<%= i %>"><%= i+1 %></a>
                        <% } %>
                    <% } %>
                </span>
            </div>
        </div>
    </section>
    
<% include footer %>