<% include header %>
   
    <section id="bread">
        <div class="bread flex">
            <div>
                <p><a href="/">Главная</a> / Продукты</p>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="products flex">
            <div class="filters flex">
                <div>
                    <h1>Категории</h1>
                    <button class="cat" cat="cosm">Ухаживающая косметика<img src="svg/down-arrow.svg"></button>
                    <button class="sub" sub="cosm">Косметика Natria</button>
                    <button class="sub" sub="cosm">Tropical Mists</button>
                    <button class="sub" sub="cosm">Косметика Natria</button>
                    <button class="sub">Bremani Care</button>
                    <button>Уход и гигиена<img src="svg/down-arrow.svg"></button>
                    <button>Акции<img src="svg/down-arrow.svg"></button>
                    <button>БАД<img src="svg/down-arrow.svg"></button>
                    <button>Косметика Bremani<img src="svg/down-arrow.svg"></button>
                    <button>Печатная продукция<img src="svg/down-arrow.svg"></button>
                    <button>Сувенирная продукция<img src="svg/down-arrow.svg"></button>
                </div>
                <div>
                    <h1>Критерии</h1>
                    <button>Количество отзывов</button>
                    <button>Популярность</button>
                    <button>Рейтинг</button>
                    <button>Сначала дешевые</button>
                    <button>Сначала дорогие</button>
                    <button>По алфавиту</button>
                </div>
            </div>
            <div class="row loop">
                <% products.forEach(function(product) { %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <img src="<%= product.image %>" alt="" onclick="goto('/products/<%= product._id %>');">
                        <h1><%= product.name %></h1>
                        <h2><%= product.cat %></h2>
                        <h3>$<%= product.price %>.00 <span>$<%= product.price * 1.2 %>.00</span></h3>
                        <div>
                            <a href="" class="btn btn-green">В корзину</a>
                            <a href="/checkout" class="btn btn-gray">Купить</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function goto(url) { window.location.href = url; }
        
        $(".cat").click((event) => {
            var ccat = $(event.currentTarget);
            var cat = ccat.attr("cat");
            ccat.toggleClass("active");
            $(".sub").each(function(index) {
                console.log(index);
                if ($(this).attr("sub") == cat) {
                    $(this).toggleClass("open");
                }
            });
        });
    </script>
    
<% include footer %>