<% include header %>

    <section id="bread">
        <div class="bread flex">
            <div>
                <p><a href="/">Главная</a> / <a href="/products">Продукты</a> / Гель серебрянный щит </p>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="products flex">
            <div class="filters flex">
                <div>
                    <h1>Категории</h1>
                    <button class="cat" cat="cosm">Ухаживающая косметика<img src="<%= url %>/svg/down-arrow.svg"></button>
                    <button class="sub" sub="cosm">Косметика Natria</button>
                    <button class="sub" sub="cosm">Tropical Mists</button>
                    <button class="sub" sub="cosm">Косметика Natria</button>
                    <button class="sub">Bremani Care</button>
                    <button class="cat" cat="care">Уход и гигиена<img src="<%= url %>/svg/down-arrow.svg"></button>
                    <button class="sub" sub="care">Подкатегория</button>
                    <button>Акции<img src="<%= url %>/svg/down-arrow.svg"></button>
                    <button>БАД<img src="<%= url %>/svg/down-arrow.svg"></button>
                    <button>Косметика Bremani<img src="<%= url %>/svg/down-arrow.svg"></button>
                    <button>Печатная продукция<img src="<%= url %>/svg/down-arrow.svg"></button>
                    <button>Сувенирная продукция<img src="<%= url %>/svg/down-arrow.svg"></button>
                </div>
                <div>
                    <h1>Критерии</h1>
                    <button>Количество отзывов</button>
                    <button>Популярность</button>
                    <button>Рейтинг</button>
                    <button>Сначала дешевые</button>
                    <button>Сначала дорогие</button>
                    <button>По алфавиту</button>
                </div>
            </div>
            <div>
                <div class="product flex">
                    <span style="background: #f0f2f2;">
                        <img src="<%= product.image %>" alt="">
                    </span>
                    <div>
                        <h1><%= product.name %></h1>
                        <h2><%= product.cat %></h2>
                        <h3>$<%= product.price %>.00 <span>$<%= product.price * 1.2 %>.00</span></h3>
                        <%- product.short %>
                        <div class="buy flex">
                            <div class="flex">
                                <input type="number" value="1" min="1" max="99" step="1">
                                <a href="" class="btn btn-gray">В корзину</a>
                            </div>
                            <a href="/discount" style="text-transform:none;" class="btn btn-green">Получить скидку</a>
                        </div>
                    </div>
                </div>
                <div class="desc">
                    <div class="tabs flex">
                        <div class="tab active">Описание</div>
                    </div>
                    <div>
                        <p><%- product.desc %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
        $(".cat").click((event) => {
            var ccat = $(event.currentTarget);
            var cat = ccat.attr("cat");
            ccat.toggleClass("active");
            $(".sub").each(function (index) {
                console.log(index);
                if ($(this).attr("sub") == cat) {
                    $(this).toggleClass("open");
                }
            });
        });
    </script>
</body>

<% include footer %>