<% include header %>

    <section id="bread">
        <div class="bread flex">
            <div>
                <p><a href="/">Главная</a> / <a href="/products">Продукты</a> / Гель серебрянный щит </p>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="products flex">
            <div class="filters flex">
                <div>
                    <h1>Категории</h1>
                    <button class="cat" cat="cosm">Ухаживающая косметика<img src="<%= url %>/svg/down-arrow.svg"></button>
                    <button onclick="subsort('Ухаживающая косметика','Косметика Natria')" class="sub" sub="cosm">Косметика Natria</button>
                    <button onclick="subsort('Ухаживающая косметика','Tropical Mists')" class="sub" sub="cosm">Tropical Mists</button>
                    <button onclick="subsort('Ухаживающая косметика','Bremani Care')" class="sub" sub="cosm">Bremani Care</button>
                    <button class="cat" onclick="sort('Уход и гигиена')">Уход и гигиена</button>
                    <button class="cat" onclick="sort('БАД')">БАД</button>
                    <button class="cat" onclick="sort('Косметика Bremani')">Косметика Bremani</button>
                </div>
                <div>
                    <h1>Критерии</h1>
                    <button onclick="sortProds('views')">Популярность</button>
                    <button onclick="sortProds('cheap')">Сначала дешевые</button>
                    <button onclick="sortProds('expensive')">Сначала дорогие</button>
                    <button onclick="sortProds('name')">По алфавиту</button>
                </div>
            </div>
            <div>
                <div class="product flex">
                    <span class="singleBox">
                        <img src="<%= product.image %>" alt="">
                    </span>
                    <div>
                        <h1><%= product.name %></h1>
                        <h2><%= product.cat %></h2>
                        <h3><%= Number(product.price * rate).toFixed(0) %>₸ <span><%= Number(product.price * rate * 1.2).toFixed(0) %>₸</span></h3>
                        <%- product.short %>
                        <div class="buy flex">
                            <div class="flex">
                                <input type="number" value="1" min="1" max="99" step="1">
                                <a href="/addtocart?product=<%= product._id %>" class="btn btn-gray">В корзину</a>
                            </div>
                            <a href="/buytocart?product=<%= product._id %>" style="text-transform:none;" class="btn btn-green">Купить</a>
                        </div>
                    </div>
                </div>
                <div class="desc">
                    <div class="tabs flex">
                        <div class="tab active">Описание</div>
                    </div>
                    <div>
                        <p><%- product.desc %></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>

<% include footer %>