<% include ../dheader %>

<form class="prod" action="/dashboard/posts" method="POST">
    <h1>Добавление поста</h1>
    <input type="text" placeholder="Имя нового поста" name="name" value="<%= fc.name %>">
    <input type="text" placeholder="Ссылка на картинку поста" name="img" value="<%= fc.img %>">
    <input type="text" placeholder="Категория поста" name="cat" value="<%= fc.cat %>">
    <input type="text" placeholder="Краткое описание" name="short" value="<%= fc.short %>">
    <textarea placeholder="Описание товара" name="desc"></textarea>
    <div class="flash" style="margin: 1.5rem 0 0 0; ">
        <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
        <% } if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <button class="smooth">Добавить</button>
</form>

<% include ../dfooter %>